<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    style
        include ../public/style.css
    
</head>

<body>
    <nav>
        <div class="nav-bar">
            <ul>
                <li class="nav-li"> <a href="/home">Home</a></li>
                <li class="nav-li"> <a href="/books">Add A Book</a></li>
                <li class="nav-li"> <a href="/list">List OF Books</a></li>
                
            </ul>
        </div>
    </nav>

        <div class="content">
            <h2>Donate A Book To Help A Child</h2>
            <p>We are very keen to help you in this hard times,So please feel free to contact us if you want to add the new book for the child's education.</p>
        </div>
        <div class="img">
            <img src="/public/images/img.jpg" alt="" >
        </div>

    


</body>

</html>